---
const { card } = Astro.props;
---

<div class="relative bg-white p-6 rounded-md card-container overflow-hidden">
  <h3 class="font-black text-xl md:text-lg lg:text-xl mt-6 relative z-10">
    <span class="text-primary-600">{card.keyword}</span>
    {card.title}
  </h3>
  <p class="text-gray-600 mt-20 relative z-10 w-[150px]">{card.description}</p>
  <!-- <p class="text-gray-600 mt-2 relative z-10 w-[180px]">{card.subdescription}</p> -->
  <a href="#contact-section">
    <button
      class="bg-secondary-500 opacity-70 hover:opacity-100 transition-opacity w-[110px] py-2 rounded-md text-white mt-4 relative z-10"
      >{card.button}
    </button>
  </a>
  <img src={card.background} alt="background image of a girl" loading="lazy" class="fixed-image absolute bottom-0 -right-2 z-0" />
</div>

<style>
  .card-container {
    box-shadow: inset 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    width: 306px;
    height: 566px;
  } 

  .fixed-image {
  width: 307px;
  height: 539px;
  object-fit: cover;
}
</style>
